/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}
#app {
  margin: 30px;
  text-align: center;
  width: 200px;
}

ul {
  list-style-type: circle;
  text-align: start;
  margin-left: 20px;
}

h1 {
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
}
